* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background:  #FFF url(../img/fundo.png) repeat-x;
}

#container {
	width: 750px;
	margin: 0 auto;

}

#topo {
	height: 150px;
	padding-top: 25px;
	background: url(../img/detalhe-topo.png) no-repeat right top;
}

.logo{
	width: 152px;
	height: 66px;
	background: url(../img/logo.png) no-repeat center;

	text-indent: -30000px;
}

ul {
	list-style: none;
}

#topo ul {
	background: #B10333;
	margin: 30px auto 0;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #FFF;
	background: url(../img/divisor.png) no-repeat left center;
}

#topo ul a[href = "index.html"] {
	background: none;
}

#topo ul a:hover {
	color: #69001D;
}


body.home #navegacao a#home, 
body.brasil #navegacao a#brasil, 
body.internacional #navegacao a#internacional, 
body.economia #navegacao a#economia, 
body.saude #navegacao a#saude, 
body.ciencia #navegacao a#ciencia, 
body.fotos #navegacao a#fotos {
	color: #FFF;
	background: #DE003E;
	cursor: text;
}

/* Configurando o layout 3 colunas */
#conteudo {
	margin-top: 60px;
	margin-bottom: 20px;
}

#conteudo-primario {
	width: 270px;
	float: left;
	margin-left: 195px;
	margin-bottom: 20px;
}

#uma-coluna #conteudo-primario{
	width: 750px;
	margin: 0 0 20px 0;
}

#duas-coluna #conteudo-primario{
	width: 555px;
}

#conteudo-secundario {
	width: 270px;
	margin-left: 15px;
	margin-bottom: 20px;
	float: left;
}

#barra-lateral {
	width: 180px;
	float: left;
	margin-left: -750px;
	margin-bottom: 20px;
}


/*Formatar menu lateral*/
#barra-lateral ul a {
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #F3F3F3;
}

#container-rodape {
	clear: both;
	background: #294C71;
	padding: 20px;
}

/*Configurando Caixa */
.caixa {
	background: #F3F3F3 url(../img/fundo-caixa.png);
	margin: 10px 0;
	padding: 5px;

}

h2 {
	font-size: 1em;
	background: #294C71;
	color: #FFF;
	padding: 5px;
}

.caixa-conteudo {
	background: #FFF;
	padding: 5px;
	margin-top: 5px;
}

/*Configurando Rodape*/
#rodape {
	width: 750px;
	margin: 0 auto;
	color: #FFF;
}